{% extends "blogApp/padre.html" %}

{% load static %}

{% block titulo_pagina %}
<h1 class="masthead-heading text-uppercase mb-0">Perfil</h1>
{% endblock %}

{% block header %}
<h3>Perfil de {{request.user.username}}</h3>
<img src="{{image_url}}" alt="Imagen" width="25%">
<a style="color: black;" href="{% url 'upload_avatar' %}">Para modificar avatar ingrese aqui</a>
{% endblock %}

{% block contenidoQueCambiara %}


<!--Informacion del usuario
-->
<div class="w3-card-4 w3-center">
    <h4>
        <ul>
            <ol>Nombre: {{user.first_name}}</ol>
            <ol>Apellido: {{user.last_name}}</ol>
            <ol>Email: {{user.email}}</ol>
            <ol>Ultimo ingreso: {{user.last_login}}</ol>
        <ol>Te uniste: {{user.date_joined}}</ol>
    </ul>
    </h4>
</div>

{% endblock %}