{% extends "blogApp/padre.html" %}

{% load static %}

{% block contenidoQueCambiara %}

<main class="main-content">
    <div class="section">
        <div class="container"> 

            <!--contenido titulo y subtitulo-->
            <div class="text-center mt-8"> 
                <h2>{{blog_post.titulo}}</h2> 
                
                <!--Conversor de dato fecha en inglés al español-->
                {% load i18n %}
                {% language 'es' %}
                <p>{{blog_post.fecha}}</p>
                {% endlanguage %}

            </div>      
            
           <!-- #contenido imagen-->
           
            <div class="text-center mt-8"> 
                <img src="{{blog_post.imagen.url}}" alt="" class="rounded-md ">
            </div>  
            

            <!-- #contenido cuerpo-->
            <div class="post-content row mt-5">
                <div class="col-lg-8 mx-auto">
                    <div> 
                        {{blog_post.subtitulo|safe}}
                    </div>
                    <div> 
                        {{blog_post.cuerpo|safe}}
                    </div>


                </div>
            </div>

            </div>
        </div>  
    </div>

</main>

{% endblock %}